<main class="home-page">
	<div class="title-container">
		<h2>This is a site for pet adoption!</h2>
		<p>View the pets page for a full list of pets or click the button below to view a random pet.
		</p>
	</div>

	<button type="button" class="random-pet-button" id="random-pet-button">Look at A Pet!</button>

	<div class="add-pet-text">
		<p>Do you know a pet that needs a home? Click the button below to add a pet to our pets page.</p>
	</div>
	
	<button type="button" class="add-pet-button" id="add-pet-button">Add A Pet!</button>

</main>