body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;;
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.site-title {
    color: white;
    background-color: lightseagreen;
    margin: 0;
    padding: 10px 30px;
    font-size: 32px;
    font-weight: 100;
}

.navbar {
    background-color: lightcoral;
    font-size: 20px;
    padding: 0;
}

.navlist {
    padding: 0;
    margin: 0 0 0 20px;
}

.navitem {
    display: inline-block;
    padding: 10px 15px;
}

a:hover,
a:focus {
  color: white;
}