<main class="home-page">
	<div class="title-container">
		<h2>About Us</h2>
	</div>
</main>
	
<p>
	Welcome to our pet adoption site! What we do is help various animal shelters by advertising their pets 
	to potential adopters.  We're all about getting these homeless pets into a loving home. You can see the 
	pets that we are currently advertising on our Pets page. You can even help a pet find a home by listing 
	a pet to our pet listing page. Feel free to list any animal species that you'd like. We are currently 
	advertising dogs, lizards, parrots, tigers, and cyborg dogs. If you find a pet that that would fit for 
	you, then please consider adopting them from our pet adoption page!
</p>
