<main class="individual-page">

    {{#each pets}}

        {{>petIndivTemplate}}

    {{/each}}
    
<p>
<button type="button" class="adopt-pet-button" id="adopt-pet-button">Adopt This Pet!</button>
</p>

</main>