body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.site-title {
    color: white;
    background-color: rgb(64, 223, 215);
    margin: 0;
    padding: 10px 30px;
    font-size: 32px;
    font-weight: 600;
}

.navbar {
    background-color: lightcoral;
    font-size: 20px;
    padding: 0;
}

.navlist {
    padding: 0;
    margin: 0 0 0 20px;
}

.navitem {
    display: inline-block;
    padding: 10px 15px;
}

a:hover,
a:focus {
  color: white;
}


.pet-card {
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(64, 223, 215);
}

    .pet-card:hover * {
        font-size: xx-large;
        color: black;
        background-color: lightcoral;
        max-height: 210px;
    }
    .pet-card:hover {
        font-size: xx-large;
        color: black;
        background-color: lightcoral;
    }
    .pet-card * {
        font-size: x-large;
        color: black;
        background-color: rgb(64, 223, 215);
        max-height: 200px;
    }



.individual-page {
    background-color: white;
    text-align: center;
}
.list-page {
    background-color: white;
    text-align: center;
    margin: 50px 2%;
    display: flex;
    flex-wrap: wrap;
}




.pet-name{
    font-size: x-large;
    padding-bottom: 0px;
}
.pet-image{
    max-height:270px;
}
.pet-info {
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
}
.info-title{
    font-size:large;
    font-weight:bold;
}
.info-text {
    padding-left: 60px;
}